HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.total
.bonuri

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/frontend-management/dist.zip
/bonuri/receipt_1.pdf
/bonuri/receipt_2.pdf
/bonuri/receipt_3.pdf
/bonuri/receipt_4.pdf
/bonuri/receipt_5.pdf
/bonuri/receipt_6.pdf
/bonuri/receipt_7.pdf
/bonuri/receipt_8.pdf
/bonuri/receipt_9.pdf
/bonuri/receipt_10.pdf
/bonuri/receipt_11.pdf
/bonuri/receipt_13.pdf
/bonuri/receipt_14.pdf
/bonuri/receipt_15.pdf
/bonuri/receipt_16.pdf
/bonuri/receipt_17.pdf
/bonuri/receipt_18.pdf
/bonuri/receipt_19.pdf
/bonuri/receipt_20.pdf
/bonuri/receipt_21.pdf
/bonuri/receipt_22.pdf
/bonuri/receipt_23.pdf
/bonuri/receipt_24.pdf
/bonuri/receipt_25.pdf
/bonuri/receipt_26.pdf
/bonuri/receipt_27.pdf
/bonuri/receipt_28.pdf
/bonuri/receipt_29.pdf
/bonuri/receipt_30.pdf
/total/total_zilnic_1.pdf
/total/total_zilnic_2.pdf
/total/total_zilnic_3.pdf
/total/total_zilnic_4.pdf
/total/total_zilnic_5.pdf
/total/total_zilnic_6.pdf
/total/total_zilnic_7.pdf
/total/total_zilnic_8.pdf
/total/total_zilnic_9.pdf
/total/total_zilnic_10.pdf
/total/total_zilnic_11.pdf
/total/total_zilnic_12.pdf
/total/total_zilnic_13.pdf
/total/total_zilnic_14.pdf
/total/total_zilnic_15.pdf
/total/total_zilnic_16.pdf
/total/total_zilnic_plata_numerar2.pdf
/total/total_zilnic_vouchere_2.pdf
